:root {
            --card_legende: 10;
            --card_small: 30;
            --card_medium: 35;
            --card_large: 50;
            --card_cv: 80;
}

/* général*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d4e8f7;
  color: #3a3a3a;
  display: inline;
}

a {
  text-decoration: none;
  color: #3a3a3a;
}

h1, h2, h3, h4 {
  color: #d4aa00;
  text-shadow: 0px 0px 5px #3a3a3a0f;
}

h3 {
  font-size: 30px;
  text-align: center;
}

/* nav sur le coté */

nav {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  overflow-x: hidden;
  display: inline-block;
  box-shadow: 0px 0px 10px #3a3a3a1f;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* lien nav */
nav ul a {
  color: #3a3a3a;
  padding: 25px;
  text-decoration: none;
  display: block;
  background-color: #8cc1e9;
  text-align: center;
}

nav a:hover {
  background-color: #aad1ef;
  color: black;
}

footer{
  width: 400px;
  position: fixed;
  bottom: 10px;
  text-align: center;
  text-decoration: none;
  color: #3a3a3a;
  font-size: 10px;
}

/*fin nav sur le coté*/

main {
  position: relative;
  display: inline-block;
  margin-left: 400px;
  padding: 50px;
  text-align: center;
}

/* propriété image nav */

#logoCaverne {
  width: 300px;
  height: auto;
  margin-left: 50px;
  margin-top: 75px;
  margin-bottom: 75px;
}

#logoNoir {
  width: 50px;
  height: auto;
}

#linkedinLogo {
  width: 20px;
  height: auto;
}

/* Accueil */

.software {
  color: #d4aa00;
}

/* portfolio pin version pinterest */

.pin_container {
  margin: 0;
  margin-top: 20px;
  padding: 50px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 10px;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #3a3a3a1f;
}

.card {
  padding: 15px;
  margin: 20px 15px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #3a3a3a1f;
}

.card a:hover {
  filter: brightness(80%);
}

/* taille des pins */
.card_legende {
  grid-row-end: span var(--card_legende);
}

.card_small {
  grid-row-end: span var(--card_small);
}

.card_medium {
  grid-row-end: span var(--card_medium);
}

.card_large {
  grid-row-end: span var(--card_large);
}

/* code couleur */

.card_logo {
  background-color: #d4e8f7;
}

.card_depliant {
  background-color: #aad1ef;
}

.card_idv {
  background-color: #8cc1e9;
}

.card img{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/*fin accueil*/
/* CV */

.cv_container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: 10px;
  justify-content: center;
  text-align: center;
}

.card_cv {
  width: 100%;
  height: auto;
  grid-row-end: span var(--card_cv);
  padding: 20px;
}

.card_cv a:hover {
  filter: brightness(80%);
}

.card_cv img{
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px #3a3a3a1f;
}

/*fin cv*/

#Charte_img {
  text-align: center;
  width: 80%;
  height: auto;
}
